* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background-color: #e6e6e6;
    font-family: 'Anek Telugu', sans-serif;
    font-size: small;
}

h1 {
    font-size: 36px;
}



/*nav-logo*/
.nav {
    background-color: #fff;
    padding: 10px;
}


.nav-container {
    height: 50px;
}


.logo,
.logo-text {
    display: inline-block;
    vertical-align: middle;
}


.logo {
    width: 50px;
}

.logo img {
    width: 100%;
}



/*task-content*/
.content {
    width: 60%;
    min-width: 700px;
    margin: 40px auto;
    border-radius: px 5px 0px 0px;
}



/* content-button */
.input {
    padding: 8px 80px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}


.input button {
    padding: 8px 18px;
    margin: 5px;
    border: transparent;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    font-weight: 500;
}

#restyle {
    background-color: transparent;
    border: 1px solid lightgray;
    color: lightgray;
}



/* task-list */
.section {
    background-color: #fff;
    padding: 30px 80px;
    margin-top: 2px;
    border-radius: 0 0 5px 5px;
}


.task-box {
    margin: 10px 0;
}


.task-title details,
span {
    display: inline-block;
}


.task-list ul {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}


.task-list li {
    margin: 10px 0;
}


.task-list figure,
img {
    display: inline-block;
    vertical-align: middle;
}


.task-list figure,
img {
    width: 20px;
}

.task-list span {
    background-color: lightskyblue;
    border-radius: 10px;
    padding: 2px 12px;
    color: #fff;
    margin: 0px 10px;
    font-size: 14px;
}


/* task-list-highlighted-color*/

#color-blue {
    background-color: blue;
}



#color-lightgreen {
    background-color: lightgreen;
}


#color-green {
    background-color: green;
}


#color-pink {
    background-color: palevioletred;

}


#color-orange {
    background-color: orange;
}